body {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  border: 5px solid lime;
}

.row {
  border: 2px solid pink;
  margin: 10px 0;
}
